@import '../../assets/scss/colors';

.pagination {
    display: flex;
    margin: 0 auto 20px;
    &__controls {
        display: flex;
        align-items: center;
        margin: auto;
    }
    &__numbers-list {
        display: flex;
    }
    &__numbers-item {
        cursor: pointer;
        margin: 0 8px;
        border-bottom: 3px solid transparent;
    }
    &__numbers-item--active {
        cursor: pointer;
        margin: 0 8px;
        border-bottom: 3px solid $orange;
    }
    &__button-arrow {
        cursor: pointer;
    }
    @media screen and (min-width: 768px) {
        &__numbers-item {
            margin: 0 10px;
        }
    }
}
