@import '../../assets/scss/colors';

.pagination {
    display: flex;
    font-size: 16px;
    padding-bottom: 20px;
    &__controls {
        display: flex;
        align-items: center;
        margin: auto;
    }
    &__numbers-list {
        display: flex;
    }
    &__numbers-item {
        cursor: pointer;
        margin: 0 8px;
    }
    &__numbers-item--active {
        cursor: pointer;
        border-bottom: 3px solid $orange;
    }
    &__arrow {
        display: flex;
        margin: 0 3px;
        border-bottom: 3px solid transparent;
        padding: 3px;
    }
    &__button-arrow {
        cursor: pointer;
    }
    @media screen and (min-width: 481px) {
        font-size: 18px;
    }
    @media screen and (min-width: 768px) {
        font-size: 16px;
        &__numbers-item {
            margin: 0 6px;
        }
    }
    @media screen and (min-width: 1024px) {
        font-size: 18px;
        &__numbers-item {
            margin: 0 8px;
        }
    }
    @media screen and (min-width: 1200px) {
        font-size: 20px;
    }
}
