@import '../../assets/scss/colors';

.cart-item {
    background-color: $dark;
    padding: 10px 5px;
    border-radius: 5px;
    border: 2px solid red;
    &__heading {
        display: flex;
        text-align: center;
        margin-bottom: 20px;
        min-height: 86px;
    }
    &__img {
        width: 38%;
        img {
            display: block;
            margin: auto;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            object-fit: cover;
            @media screen and (min-width: 481px) {
                width: 100px;
                height: 100px;
            }
        }
    }
    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 62%;
    }
    &__ingredients-list {
        padding: 0 10px;
        max-height: 340px;
        overflow-y: auto;
    }
    &__ingredients-title {
        margin: 0 0 10px 10px;
    }

    &__link {
        width: fit-content;
        margin: 0 auto;
        display: inline-block;
        font-size: 12px;
        &:hover {
            transition: 1s;
            color: $red;
        }
    }
    &__quantity {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    &__quantity-icon {
        font-size: 17px;
        cursor: pointer;
    }
    &__value {
        margin: 0 8px;
        color: $red;
    }
    &__title--ingredients {
        margin-bottom: 20px;
    }
    &__ingredient-item {
        margin: 6px 0;
    }
    &__button--remove {
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
    }
}
