@import '../../assets/scss/colors';

.cart-ingredient-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px auto;
    &__modal {
        padding-top: 20px;
    }
    &__description {
        display: flex;
    }
    &__title {
        // max-width: 100px;
        // min-width: 100px;
        width: 100px;
        margin-right: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__list {
        padding: 20px;
    }
    &__quantity {
        margin-left: 10px;
        color: $red;
    }
    &__button--edit {
        button {
            padding: 2px 14px;
        }
    }
    @media screen and (min-width: 481px) {
        &__title {
            min-width: 240px;
        }
    }
    @media screen and (min-width: 768px) {
        &__title {
            min-width: 178px;
        }
        &__button--edit {
            button {
                padding: 1px 14px;
            }
        }
    }
}

.ingredients__buttons-wrapper {
    margin: 20px auto 20px;

    @media screen and (max-width: 768px) {
        max-width: 300px;
    }
}
