@import '../../assets/scss/colors';

.recipe {
    display: flex;
    flex-direction: column;
    flex-grow: 1 1 auto;
    padding: 20px;
    &__heading {
        text-align: center;
        margin-bottom: 30px;
    }
    &__image {
        display: flex;
        height: 300px;
        margin-bottom: 30px;
        width: 100%;
        border-radius: $border-radius-20;
        object-fit: cover;
    }
    &__link {
        width: fit-content;
        margin: auto;
        text-align: center;
        &:hover {
            color: $red;
            transition: 1s;
        }
        @media screen and (min-width: 481px) {
            font-size: 18px;
        }
    }
    &__quantity--heading {
        margin: 10px auto;
    }
    &__buttons-wrapper--quantity {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    &__price-cart-btn {
        text-align: center;
        margin: auto;
    }

    &__button-img {
        display: flex;
    }
    &__pizza--quantity {
        min-width: 80px;
        text-align: center;
        display: inline-block;
        padding: 5px 18px;
        border: 2px dotted $orange;
        border-radius: $border-radius-5;
        margin: 0 15px;
    }
    &__price {
        margin-bottom: 10px;
    }
    @media screen and (min-width: 481px) {
        padding: 40px 40px 20px;
    }
    @media screen and (min-width: 781px) {
        padding: 20px;
    }
}
