@import '../../assets/scss/colors';

.pizza-add {
    padding: 10px 0;
    min-width: 260px;
    &__heading {
        padding: 0 20px 20px;
        text-align: center;
    }
    &__img {
        margin-bottom: 10px;
        img {
            display: block;
            margin: auto;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
    }
    &__details {
        text-align: center;
        margin-bottom: 20px;
        span {
            color: $red;
        }
    }
    &__quantity {
        margin-bottom: 10px;
    }
    &__list {
        padding: 0 10px;
        max-height: 250px;
        overflow-y: auto;
    }
}
