.pizza {
    &__item {
        max-width: 170px;
        margin: 0 10px 20px;
        cursor: pointer;
    }
    &__img {
        img {
            border-radius: 50%;
            width: 160px;
            height: 160px;
            object-fit: cover;
        }
    }
    &__title {
        margin-top: 10px;
        text-align: center;
    }
    // @media screen and (min-width: 768px) {
    //     &__img {
    //         img {
    //             max-height: none;
    //         }
    //     }
    // }
}
