/*
    COLORS
*/

$dark: #001e28;
$black: #010a0f;
$red: #c80037;
$orange: #feb139;
$yellow: #fff80a;
$green: #3ccf4e;
$white: #ffffff;
$gray: #e6e6e6;
$text-gray: #eeeeee;
$scrollbar-thumb: #888888;
$scrollbar-hover: #555555;

/*
    BORDER RADIUS
*/

$border-radius-5: 5px;
$border-radius-20: 20px;
$border-radius-round: 50%;
$border-radius-none: 50%;
