$dark: #001e28;
$black: #010a0f;
$red: #c80037;
$orange: #feb139;
$yellow: #fff80a;
$green: #3ccf4e;
$white: #ffffff;
$gray: #e6e6e6;

// $dark-fs: #001e28;
// $red-fs: #86253f;

// $red-custom: #c80037;
