@import '../../assets/scss/variables';

.modal {
    background-color: transparent;
    position: fixed;
    width: max-content;
    max-width: 90%;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px 10px 10px 10px;
    animation: modal-animation-fade-in 0.3s ease-in;
    &__header {
        background-color: $dark;
        color: $yellow;
        font-size: 14px;
        padding: 10px 20px;
        text-align: center;
        border-radius: 10px 10px 0 0;
    }
    &__content {
        background: $white;
    }
    &__footer {
        display: flex;
        background-color: $dark;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 0 10px 10px;
        padding: 10px 20px;
    }
    @media screen and (min-width: 768px) {
        &__header {
            font-size: 24px;
        }
    }
    @keyframes modal-animation-fade-in {
        0% {
            opacity: 0;
            top: 46%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }
}
