@import '../../assets/scss/colors';

.modal {
    background-color: $white;
    position: fixed;
    width: 76%;
    width: max-content;
    max-width: 90%;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: modal-animation 0.3s ease-in;
    border-radius: 10px 10px 10px 10px;
    &__header {
        background-color: $dark;
        color: $yellow;
        font-size: 14px;
        border-bottom: 3px solid $gray;
        padding: 10px 20px;
        text-align: center;
        border-radius: 10px 10px 0 0;
    }
    &__footer {
        /*
            * figure out height for footer
        */
        display: flex;
        background-color: $dark;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 0 10px 10px;
        padding: 10px 20px;
    }
    @media screen and (min-width: 768px) {
        &__header {
            font-size: 24px;
        }
    }
    // @media screen and (min-width: 1024px) {
    //     width: 50%;
    // }
    // @media screen and (min-width: 1200px) {
    //     width: 46%;
    // }

    @keyframes modal-animation {
        0% {
            opacity: 0.7;
            top: 46%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }
}
