@import '../../assets/scss/variables';

.order-confirm {
    padding: 20px;
    min-width: 260px;
    &__list {
        margin-bottom: 20px;
        overflow-y: auto;
    }
    &__addresses-title {
        text-align: center;
    }
    &__price {
        margin: 10px 0 10px 6px;
    }
    &__address--selected {
        background-color: $gray;
        padding: 3px 8px;
        margin-top: 10px;
        border-radius: $border-radius-5;
    }
    @media screen and (min-width: 481px) {
        min-width: 320px;
    }
    @media screen and (min-width: 481px) {
        min-width: 420px;
    }
}
