@import '../../assets/scss/colors';

.order {
    padding: 10px 0;
    min-width: 260px;
    &__heading {
        margin-bottom: 20px;
        text-align: center;
    }
    &__img {
        margin-bottom: 10px;
        img {
            display: block;
            margin: auto;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
    }
    &__quantity {
        text-align: center;
        margin-bottom: 10px;
        span {
            color: $red;
        }
    }
    &__list {
        padding: 0 10px;
        max-height: 250px;
        overflow-y: scroll;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        background-color: $gray;
        padding: 3px 8px;
        border-radius: 5px;
        margin: 6px auto;
        font-size: 12px;
    }
    &__item--title {
        margin-right: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__item--quantity {
        color: $red;
    }

    @media screen and (min-width: 768px) {
        &__item {
            font-size: 14px;
        }
    }
    @media screen and (min-width: 1024px) {
        &__item {
            font-size: 15px;
        }
    }
}
