.ingredients {
    padding: 10px;
    &__heading {
        text-align: center;
    }
    &__buttons-wrapper {
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
    }
    &__list-title {
        text-align: center;
        text-transform: uppercase;
        text-decoration: solid;
    }
    // &__list {
    // border: 1px solid peru;
    // }
}
