@import '../../assets/scss/variables';

.ingredients-constant {
    &__heading {
        text-align: center;
    }
    &__buttons {
        display: flex;
        justify-content: center;
        margin: 20px auto 40px;
        button {
            min-width: 52px;
        }
        button:first-child {
            padding: 5px 12px;
        }
    }
    &__quantity {
        min-width: 80px;
        text-align: center;
        display: inline-block;
        padding: 5px 18px;
        border: 2px dotted $orange;
        border-radius: $border-radius-5;
        margin: 0 15px;
    }
    @media screen and (max-width: 768px) {
        &__buttons-wrapper {
            max-width: 300px;
        }
    }
}
