.ingredients {
    padding: 10px;
    &__heading {
        text-align: center;
    }
    &__buttons-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        max-width: 222px;
    }
    &__list-title {
        text-align: center;
        text-transform: uppercase;
        text-decoration: solid;
    }
    @media screen and (max-width: 768px) {
        &__buttons-wrapper {
            max-width: 300px;
        }
    }
}
