@import '../../assets/scss/colors';

.button {
    // display: block;
    background-color: $red;
    color: $white;
    padding: 3px 16px;
    border-radius: 5px;
    border: 3px solid transparent;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    &--secondary {
        background-color: $orange;
        border-color: $orange;
        color: $black;
    }
    &--disabled {
        color: $red;
        background-color: $gray;
        border-color: $gray;
        cursor: not-allowed;
    }
    @media screen and (min-width: 481px) {
        font-size: 14px;
        padding: 4px 16px;
    }
    // @media screen and (min-width: 768px) {
    //     font-size: 14px;
    //     padding: 4px 16px;
    // }
    @media screen and (min-width: 1024px) {
        // font-size: 16px;
    }
}
