@import '../../assets/scss/colors';

button {
    background-color: $red;
    color: $white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 3px solid transparent;
    outline: none;
    text-transform: uppercase;
    // display: flex;
    // align-items: center;
}
