@import '../../assets/scss/colors';

.button {
    // display: block;
    background-color: $red;
    color: $white;
    padding: 3px 16px;
    border-radius: 5px;
    border: 3px solid transparent;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    &--disabled {
        color: $red;
        background-color: $gray;
        cursor: not-allowed;
    }
    @media screen and (min-width: 768px) {
        font-size: 14px;
        padding: 5px 18px;
    }
    @media screen and (min-width: 1024px) {
        font-size: 16px;
    }
}
