@import '../../assets/scss/colors';

.input {
    display: flex;
    flex-direction: column;
    &__label {
        color: $orange;
        font-size: 12px;
        margin-bottom: 10px;
        margin-left: 3px;
    }
    &__label--invalid {
        color: $red;
    }
    &__element {
        background-color: $gray;
        border: 2px solid transparent;
        color: $dark;
        padding: 8px;
        border: none;
        border-radius: 5px;
        font-size: 12px;
        margin-bottom: 6px;
        &:focus {
            outline: 2px solid $orange;
            border: none;
        }
        &::placeholder {
            color: $dark;
        }
    }
    &__element--invalid {
        border: 2px solid $red;
        &::placeholder {
            color: $red;
        }
    }
    &__text--error {
        color: $red;
        font-size: 10px;
    }
    @media screen and (min-width: 481px) {
        &__label {
            font-size: 15px;
        }
        &__element {
            font-size: 14px;
        }
        &__text--error {
            color: $red;
            font-size: 12px;
        }
    }
    @media screen and (min-width: 768px) {
        &__label {
            font-size: 16px;
        }
        &__element {
            font-size: 16px;
            padding: 6px;
        }
        &__text--error {
            color: $red;
            font-size: 14px;
        }
    }
}

textarea {
    resize: none;
}
