.main {
    &__pizza-list {
        // display: flex;
        max-width: 200px;
        padding: 20px;
        margin: auto;
        // background-color: $red;
        // justify-content: space-around;
        // border: 1px solid blue;
    }
    &__pizza-item {
        max-width: 200px;
        margin-bottom: 20px;
    }
    &__pizza-img {
        img {
            border-radius: 30px;
        }
    }
    &__pizza-title {
        margin-top: 10px;
        text-align: center;
    }
}
