@import '../assets/scss/colors';

.addresses {
    background-color: $black;
    flex: 1 1 auto;
    &__header {
        text-align: center;
        padding: 20px;
    }
    &__container {
        padding: 0 20px;
    }
    &__button-add {
        margin-bottom: 20px;
    }
}
