@import '../assets/scss/colors';

.cart {
    &__header {
        text-align: center;
        padding: 20px;
    }
    &__container {
        padding: 0 20px;
    }
    &__actions {
        text-align: center;
        margin: 20px 0 20px;
    }
    &__link {
        margin-top: 10px;
    }
    @media screen and (min-width: 768px) {
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__actions {
            text-align: center;
            margin: 10px 0 20px;
        }
    }
    @media screen and (min-width: 1024px) {
        &__list {
            justify-content: space-evenly;
        }
    }
}
