@import '../assets/scss/colors';

.login {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: $black;
    justify-content: center;
    align-items: center;
    max-width: 1260px;
    &__window {
        padding: 30px;
        width: 260px;
        background-color: #ffffff;
        border-radius: 25px;
    }
    &__heading {
        color: $orange;
        margin-bottom: 20px;
        text-align: center;
    }
    &__form-control {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }
    &__label {
        color: $red;
        margin-bottom: 10px;
    }
    &__text {
        color: $red;
        margin: 16px 0;
        text-align: center;
    }
    &__mode {
        color: $green;
        cursor: pointer;
    }
    &__provider-button {
        margin: 0 auto 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__provider-button--facebook {
        button {
            background-color: #1877f2;
        }
    }
    &__provider-button-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__provider-button-text {
        margin-right: 10px;
    }
    @media screen and (min-width: 481px) {
        &__window {
            width: 320px;
        }
    }
    @media screen and (min-width: 768px) {
        &__window {
            width: 360px;
        }
    }
}
