@import '../assets/scss/colors';

.login {
    display: flex;
    height: 100vh;
    background-color: $dark;
    justify-content: center;
    align-items: center;
    &__window {
        padding: 30px;
        position: absolute;
        width: 30%;
        margin: auto;
        background-color: #ffffff;
        border-radius: 25px;
    }
    &__heading {
        color: $red;
        margin-bottom: 20px;
        text-align: center;
    }
    &__form-control {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }
    &__label {
        color: $red;
        margin-bottom: 10px;
    }
    &__text {
        color: $red;
        margin: 16px 0;
        text-align: center;
    }
    &__mode {
        color: $green;
    }
    &__btn-wrapper {
        margin: 0 auto;
    }
}
