@import '../assets/scss/colors';

.main {
    padding: 10px 16px;
    background-color: $black;
    color: $orange;
    &__container {
        max-width: 1260px;
        margin: auto;
    }
    &__heading-wrapper {
        text-align: center;
        margin-bottom: 30px;
    }
    &__heading {
        margin-bottom: 10px;
    }
    // &__content {
    // display: flex;
    // flex-direction: column;
    // border: 1px solid red;
    // }
    &__recipe {
        display: block;
        border: 1px solid salmon;
    }
    &__ingredients {
        display: block;
        border: 1px solid blue;
    }
    &__pizzas-list {
        max-width: 200px;
        padding: 20px;
        margin: auto;
    }
    @media screen and (min-width: 768px) {
        &__menu {
            display: none;
        }
        &__pizzas-list {
            display: flex;
            max-width: none;
            justify-content: space-around;
            min-height: 300px;
        }
        &__content--column {
            display: flex;
            // flex-direction: column;
            border: 1px solid red;
        }
    }
}
