@import '../assets/scss/colors';

.main {
    padding: 10px 16px;
    background-color: $black;
    color: $orange;
    &__heading-wrapper {
        text-align: center;
        margin-bottom: 30px;
    }
    &__heading {
        margin-bottom: 10px;
    }
    // &__content {
    // display: flex;
    // flex-direction: column;
    // border: 1px solid red;
    // }
    &__recipe {
        display: none;
    }
    &__ingredients {
        display: none;
    }
    &__pizza-list {
        max-width: 200px;
        padding: 20px;
    }
    @media screen and (min-width: 768px) {
        &__menu {
            display: none;
        }
        &__btn--logout {
            display: block;
        }
    }
}

.main {
    &__pizza-item {
        max-width: 200px;
        margin-bottom: 20px;
    }
    &__pizza-img {
        img {
            border-radius: 30px;
        }
    }
    &__pizza-title {
        margin-top: 10px;
        text-align: center;
    }
}
