@import '../../assets/scss/variables';

.addresses-dropdown {
    position: relative;
    &__button-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__arrow-icon {
        display: flex;
        font-size: 16px;
        color: $dark;
    }
    &__list {
        position: absolute;
        visibility: hidden;
        width: 100%;
        background-color: $gray;
        transition: visibility 0.2s;
    }
    &__list--slide-down {
        animation: dropdown-slide-down 0.2s linear;
        visibility: visible;
    }
    &__list--slide-up {
        animation: dropdown-slide-up 0.2s linear;
        visibility: hidden;
    }
    &__item {
        padding: 4px;
        cursor: pointer;
        &:hover {
            transition: all 0.5s;
            background-color: $dark;
            color: $orange;
        }
    }
    &__item--active {
        background-color: $dark;
        color: $orange;
    }
    @media screen and (min-width: 481px) {
        &__arrow-icon {
            font-size: 18px;
        }
    }
    @media screen and (min-width: 768px) {
        &__arrow-icon {
            font-size: 20px;
        }
    }
    @keyframes dropdown-slide-down {
        0% {
            transform: translateY(-20%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes dropdown-slide-up {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(-20%);
            opacity: 0;
        }
    }
}
