@import '../../assets/scss/colors';

.address-item {
    border: 2px solid $red;
    border-radius: $border-radius-5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__data {
        margin-bottom: 14px;
        border-left: 2px solid $yellow;
        padding-left: 8px;
    }
    &__title {
        color: $red;
        color: $yellow;
        text-transform: capitalize;
        margin-bottom: 5px;
    }
    &__description {
        color: $text-gray;
        word-break: break-all;
        text-decoration: underline;
    }
    &__actions {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
    }
}
