@import '../../assets/scss/colors';

.address-item {
    border: 2px solid $red;
    padding: 10px;
    margin-bottom: 20px;
    &__data-container {
        margin-bottom: 10px;
        p {
            color: $yellow;
        }
    }
    &__title {
        color: $red;
        text-transform: uppercase;
        text-decoration: underline;
        margin-bottom: 5px;
    }
    &__actions {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 768px) {
        width: 40%;
    }
    @media screen and (min-width: 1024px) {
        width: 36%;
    }
}
