@import '../../assets/scss/colors';

.address-item {
    border: 2px solid $red;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__data {
        margin-bottom: 10px;
    }
    &__title {
        color: $red;
        text-transform: uppercase;
        text-decoration: underline;
        margin-bottom: 5px;
    }
    &__description {
        color: $yellow;
        word-break: break-all;
    }
    &__actions {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
    }
}
