@import './assets/scss/colors';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 16px;
    font-weight: normal;
}

p {
    font-size: 14px;
}

.app {
    // height: calc(100% - 126px);
    // min-height: calc(100% - 126px);
    background-color: red;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

/*
 header small 63 ==> big ===> 73 px
*/

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (min-width: 481px) {
    h3 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    p {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 28px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 16px;
    }
    h5 {
        font-size: 17px;
    }
    .app {
        // height: calc(100vh - 146px);
        // min-height: calc(100vh - 146px);
        display: flex;
        width: 100%;
        flex-direction: column;
        height: 100%;
        min-height: 100vh;
    }
}
