@import './assets/scss/colors';

* {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
    // width: 100%;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 16px;
    font-weight: normal;
}

p {
    font-size: 14px;
}

@media screen and (min-width: 481px) {
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 16px;
    }
}
