@import '../assets/scss/colors';

.header {
    display: flex;
    color: white;
    background-color: $dark;
    padding: 10px 16px;
    height: 63px;
    &__container {
        display: flex;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1260px;
    }
    &__logo-img {
        color: $orange;
        font-size: 40px;
        animation: logo-rotate 3s linear infinite;
    }
    &__logo a {
        border: none;
    }
    &__navigation {
        display: flex;
        align-items: center;
        position: relative;
    }
    &__btn--logout {
        display: none;
    }
    &__menu {
        margin-right: 10px;
        font-size: 40px;
        color: $orange;
        cursor: pointer;
    }

    @media screen and (min-width: 768px) {
        height: 73px;
        &__menu {
            display: none;
        }
        &__btn--logout {
            display: block;
        }
        &__logo-img {
            font-size: 50px;
        }
    }
}

@keyframes logo-rotate {
    0% {
        transform: rotateZ(360deg);
    }
}
